<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/admin/img/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">İsim Soyisim</span>
                        <span class="text-muted text-xs block">Yazılım Mühendisi <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                        <li><a class="dropdown-item" href="contacts.html">Contacts</a></li>
                        <li><a class="dropdown-item" href="mailbox.html">Mailbox</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li>
                <a href="~/Admin/Dashboard/GetUserList"><i class="fa fa-pie-chart"></i> <span class="nav-label">Kullanıcılar</span>  </a>
            </li>
            <li>
                <a href="/Admin/Role/Index"><i class="fa fa-book"></i> <span class="nav-label">Roller</span></a>
            </li>
        </ul>
    </div>
</nav>