<link href="~/css/loader.css" rel="stylesheet" />
<script src="~/js/loader.js"></script>

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="/Tema/prupleadmin/assets/images/faces/face1.jpg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">@ViewBag.UserName</span>
                    <span class="text-secondary text-small">@ViewBag.Role</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <div id="loaderContainer"></div>


        @if (ViewBag.Role == "Admin")
        {
            <li class="nav-item">
                <a class="nav-link" href="/Admin/UserList">
                    <span class="menu-title">Kullanıcılar</span>
                    <i class="mdi mdi-contacts menu-icon"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Role/RoleList">
                    <span class="menu-title">Roller</span>
                    <i class="mdi mdi mdi-google-controller menu-icon"></i>
                </a>
            </li>
        }
        @if (ViewBag.Role == "Librarian")
        {
            <li class="nav-item">
                <a class="nav-link" href="/Book/Index">
                    <span class="menu-title">Kitaplar</span>
                    <i class="mdi mdi-book-open-page-variant menu-icon"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Book/AllInfoTakeBook">
                    <span class="menu-title">Kullanıcı-Kitap</span>
                    <i class="mdi mdi-book-multiple-plus menu-icon"></i>
                </a>
            </li>
        }
        @if (ViewBag.Role == "Customer")
        {
            <li class="nav-item">
                <a class="nav-link" href="/Customer/UserBookList">
                    <span class="menu-title">Kitaplarım</span>
                    <i class="mdi mdi-book-multiple-plus menu-icon"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Customer/Index">
                    <span class="menu-title">Kitaplar</span>
                    <i class="mdi mdi-book-open-outline menu-icon"></i>
                </a>
            </li>   
            <li class="nav-item">
                <a class="nav-link" href="/Customer/TakeBookList">
                    <span class="menu-title">İstekte Bulunan Kitaplar</span>
                    <i class="mdi mdi-book-open-outline menu-icon"></i>
                </a>
            </li>
        }
    </ul>
</nav>
