@model Entity.Identity.ApplicationRole

@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" method="post" enctype="multipart/form-data">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Role Ekle</h4>
                <br />
                <div class="forms-sample">
                    <div class="form-group">
                        <label for="exampleInputName1">Role Adı</label>
                        @Html.TextBoxFor(x=>x.Name,new { @class="form-control"})
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Kaydet</button>
                </div>
            </div>
        </div>
    </div>

</form>