@using Entity.Identity
@model List<ApplicationRole>

@{
    ViewData["Title"] = "RoleList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Oluşturulma Tarihi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Name</th>
            <td>@(((DateTime)item.CreatedTime).ToString("dd.MM.yyyy"))</td>
        </tr>
    }
</table>
<a href="/Role/AddRole" class="btn btn-primary">Yeni Rol Oluştur</a>
